.category-label {
  font-size: 2.5vh;
  color: rgb(255, 44, 83);
  font-family: Segoe UI Semibold, sans-serif;
}

.category-label.left {
  text-align: right;
}

.category-label.right {
  text-align: left;
}
