.tick-groups-layout {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.3vh;
}

.tick-row-layout {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5vh;
}

.tick-layout {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.tick {
  background: lightgrey;
  height: 1vh;
  width: 5vh;
}

.tick.active {
  background: yellow;
}