.bar-container.left {
  left: 5vw;
}

.bar-container.right {
  right: 5vw;
}

/* */

.tick-groups-layout {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.3vh;
}

.tick-row-layout {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5vh;
}

.tick-layout {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.tick {
  background: lightgrey;
  height: 1vh;
  width: 5vh;
  transform-origin: left;
  transition: transform 1000ms ease 500ms;
}

.tick.active {
  background: rgb(255, 213, 66);
}

.tick.active.first  { transform: scaleX(3); }
.tick.active.second { transform: scaleX(2); }
.tick.active.third  { transform: scaleX(1.5); }