.stat-bar {
  position: absolute;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 2vh;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  width: 4vh;
  height: 2.5vh;
  border-radius: 0.5vh;
  bottom: 0;

  transition: bottom 1000ms ease;

  font-size: 2vh;
  color: black;
  font-family:
    Segoe UI Semibold,
    sans-serif;
}

.label.cyberware {
  background: rgb(255, 213, 66);
  right: -11vh;
  box-shadow:
    0 0 10px rgb(255, 94, 0),
    0 0 25px rgb(255, 94, 0);
}

.label.armour {
  background: rgb(66, 255, 249);
  left: -11vh;
  box-shadow:
    0 0 10px rgb(0, 255, 255),
    0 0 25px rgb(0, 255, 255);
}

.tick-groups-layout {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.3vh;
}

.tick-row-layout {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5vh;
}

.tick-layout {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.tick {
  background: lightgrey;
  height: 0.5vh;


  transition: transform 1000ms ease 500ms;
}

.tick.cyberware {
  width: 3vh;
  transform-origin: left;
}

.tick.cyberware.active {
  background: rgb(255, 213, 66);
}

.tick.cyberware.active.first  { transform: scaleX(3); }
.tick.cyberware.active.second { transform: scaleX(2); }
.tick.cyberware.active.third  { transform: scaleX(1.5); }

.tick.armour {
  width: 6vh;
  transform-origin: right;
}

.tick.armour.active {
  background: rgb(66, 255, 249);
}

.tick.armour.active.first  { transform: scaleX(2); }
.tick.armour.active.second { transform: scaleX(1.5); }
.tick.armour.active.third  { transform: scaleX(1.25); }