.vertically-centered {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
}

/* */

.options-container {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  left: 20%;
}

.category-selector {
  width: 100%;
  height: 5vh;

  margin-bottom: 5vh;

  background: #000000;
  border-style: solid;
  border-radius: 0 0 2vh 0;
  border-color: rgb(92, 15, 31);
  border-width: 2px;

  display: flex;
  gap: 1vh;
  align-items: center;
  padding-left: 0.8vh;
  padding-right: 0.8vh;
}

.category-divider {
  width: 100%;
  height: 100%;
  /*align-content: center;*/
}

.option-label {
  font-size: 2vh;
  text-align: center;

  color: rgb(0, 255, 255);
  font-family:
    Segoe UI Semibold,
    sans-serif;
  pointer-events: none;

  padding-bottom: 0.8vh;
}

.c-sm {
  display: flex;
  gap: 1vh;
  width: 60%;
  margin: 0 auto;
}

.i-bar {
  width: 100%;
  height: 0.5vh;
  background: rgb(0, 106, 106);
}

.i-bar.active {
  background: rgb(0, 255, 255);
}

.category-button {
  height: 3.5vh;
  width: 3.5vh;

  cursor: pointer;
}

.category-button.left {

}

.category-button.right {

}

.equipped-container {
  margin-bottom: 5vh;
}

.items-container {

}

/* */
