.vertically-centered {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
}

/* */

.options-container {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  left: 20%;
}

.category-selector {
  width: 100%;
  height: 5vh;

  margin-bottom: 5vh;
}

.equipped-container {
  margin-bottom: 5vh;
}

.items-container {

}

/* */
