.vertically-centered {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
}

/* */

.options-container {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  left: 20%;

  background: red;
}

.category-selector {
  width: 100%;
  height: 5vh;

  margin-bottom: 5vh;

  background: pink;
}

.equipped-container {
  margin-bottom: 5vh;

  background: green;
}

.items-container {
  background: blue;
}

/* */
